.carousel_root {
    width: 100%;
    overflow-x: hidden;

    scrollbar-width: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

.ul {
    list-style-type: none;
    white-space: nowrap;
    display: flex;
    padding: 0;
    transition: left 1s;
}

.li {
    display: inline-block;
    min-width: 80%;
    height: 100%;
    padding: 0 1rem;
    margin: auto;
}
