@use "../colors.module" as c;

.logo {
    font-size: 2rem;
    font-weight: 900;
    color: c.$background;
    background-color: c.$primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.6rem;
    padding: 0 1rem;
    cursor: default;
    user-select: none;
    justify-content: center;

    .img {
        padding: 0 0.8rem 0 0;
        display: flex;
        cursor: default;

        #slash {
            animation: 1s blink step-end infinite;
        }
    }
}

@media (max-width: 600px) {
    .logo {
        flex-direction: column;
        font-size: 1rem;
    }
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: c.$background;
    }
}
