@use "../colors.module" as c;

.hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.56);
    border: none;
    opacity: 0.5;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0 0 0;

    @media (max-height: 800px) {
        margin-top: 0rem;
    }
}
.p {
    color: c.$text;
}

.container {
    height: 100%;
}

.list_wrapper {
    overflow: scroll;
    max-height: calc(100% - 5rem);
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.prompt {
    display: flex;
    color: c.$text;
    padding: 0 0 0.5rem 1rem;

    p {
        /* padding-left: 1rem;
        word-wrap: break-word;
        word-break: break-all;
        border-left: 4px solid rgb(0, 0, 0, 0); */
    }
}

.host {
}

.failed {
    background-color: c.$failed_trans;
    border-left: 4px solid c.$failed;
    p {
        position: relative;
        left: -4px;
        text-align: left;
    }
}

#cmd {
    opacity: 0;
    position: fixed;
    height: 0;
    padding: 0;
    margin: 0;
    width: 0;
}

.input {
    color: c.$text;
    padding-left: 1rem;
    text-align: left;
}

#input {
    display: flex;
    p {
        padding: 0;
        margin: 0;
    }
}

.box {
    margin: 0% 0.15%;
    animation: blink 1s step-end infinite;
    color: #000;
    width: 0.6em;
    height: 1.3em;
}

.command {
    display: flex;

    .cmd {
        padding-left: 0.2rem;
        color: c.$text;
    }

    .success {
        color: c.$success;
    }

    .failed_cmd {
        color: c.$failed;
    }

    p {
        margin: 0.5rem 0;
    }
}

@keyframes blink {
    from,
    to {
        background-color: c.$primary;
    }
    50% {
        background-color: rgb(0, 0, 0, 0);
    }
}
