/*
Upravená paleta barev:
Primary Color 1: #E6B450 (gold) - main elements, buttons, links
Background: #0B0E14 (dark navy/black)
Complementary Color 1: #5D737E (medium dark blue/grey) - text, icons, secondary elements
Complementary Color 2: #FFE6B3 (light gold) - highlights, accent elements
Complementary Color 3: #2A2D34 (dark grey) - shadows, borders, headers
Accent Color: #FF5E00 (bright orange) - call-to-action buttons, alerts
Neutral Color: #F2F4F6 (light grey) - backgrounds of boxes, secondary backgrounds, frames
*/
$primary: rgba(230, 180, 80, 1);
$background: #0b0e14;
$text: #bfbdb6;
$border: rgba(191, 189, 182, 0.2);
$failed: rgba(255, 86, 85, 1);
$failed_trans: rgba(255, 86, 85, 0.2);
$success: #aad94c;
$prop: #59c1ff;
$comp: #5d737e;
$comp2: #ffe6b3;
$comp3: #2a2d34;
$accent: #ff5e00;
$neutral: #f2f4f6;

:export {
    primary: $primary;
    text: $text;
    background: $background;
}
