/* 700 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
}
/* 900 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-ExtraBold.ttf")
        format("truetype");
    font-weight: 900;
    font-style: normal;
}

/* 900 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-ExtraBoldItalic.ttf")
        format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* 200 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-ExtraLight.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
}

/* 200 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-ExtraLightItalic.ttf")
        format("truetype");
    font-weight: 200;
    font-style: italic;
}

/* 400 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-Italic.ttf")
        format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* 300 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* 300 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-LightItalic.ttf")
        format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* 500 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* 500 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-MediumItalic.ttf")
        format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* 400 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* 600 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* 600 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-SemiBoldItalic.ttf")
        format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* 100 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-Thin.ttf")
        format("truetype");
    font-weight: 100;
    font-style: normal;
}

/* 100 */
@font-face {
    font-family: "JetBrainsMono Nerd Font Mono";
    src: url("../public/fonts/JetBrainsMonoNerdFontMono-ThinItalic.ttf")
        format("truetype");
    font-weight: 100;
    font-style: normal;
}
