@use "colors.module" as c;
@use "fonts.module" as f;

.body {
    /* background-color: black; */
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
        119deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 14%,
        rgba(0, 212, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        119deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 14%,
        rgba(0, 212, 255, 1) 100%
    );
    background: linear-gradient(
        119deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 14%,
        rgba(0, 212, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);

    background-size: cover;
    font-family: "JetBrainsMono Nerd Font Mono";
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.56);
    margin: 0;
    border: none;
    opacity: 0.5;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.container {
    background: rgba(10, 14, 12, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: calc(100% - 1rem);
    margin: 0.5rem 11rem;

    @media (max-width: 1024px) {
        margin: 0.5rem;
    }
}
